.title-login {
  margin-top: 5%;
  color: #5161ce;
  margin-bottom: 5%;
}

.login {
  background-color: #ffffff;
  border-bottom: 0.4rem solid #5161ce;
  /* padding: 2rem; */
  width: 40%;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-input {
  border: 1px solid;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 80%;
  height: 3rem;
}

.login-input::placeholder {
  padding-left: 0.8rem;
}

.login-btn {
  width: 80%;
  height: 3rem;
  margin-top: 15px;
  border-radius: 1rem 1rem;
  border: 1px solid #5161ce;
  background-color: #5161ce;
  color: #ffffff;
}

.login-register {
  margin-top: 8px;
}

.message {
  color: #3d3c3c;
  text-decoration: none;
}
.message:hover {
  color: #5161ce;
}

@media (max-width: 991px) {
  .login {
    width: 80%;
  }
}
