.wrong-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.flip-card {
  position: relative;
  z-index: 1000;
  width: 100px;
  height: 100px;

  .card-front,
  .card-back {
    backface-visibility: hidden;
    transition: 0.7s;
    transform-style: preserve-3d;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .card-front {
    z-index: 900;
  }

  .card-back {
    z-index: 800;
  }

  &:hover {
    .card-front {
      transform: rotateX(180deg);
    }
    .card-back {
      z-index: 950;
    }
  }
}

/*** Just for show... ***/

.flip-card {
  color: #000000;
  /* float: left; */
  font-weight: bold;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  min-width: 200px;
  max-width: 400px;

  .card-front,
  .card-back {
    border: 1px solid rgb(121, 119, 119);
    padding: 40px 0;
  }

  .card-front {
    background-color: #ffffff;
  }

  .card-back {
    background-color: #e9e9e9;
  }
}
