.memberinfo-container {
  display: grid;
  align-items: center;
  grid-template-columns: 50% 50%;
}

.memberinfo-item1,
.memberinfo-item2 {
  align-self: start;
  justify-self: center;
  background-color: #ffffff;
  border: 2px solid #e7e7e7;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 1.8rem;
  width: 100%;
  margin: 0rem 1.25rem;
}
.memberinfo-form-div {
  display: grid;
  width: 100%;
}
.file-select {
  color: #34495e;
  line-height: 40px;
  text-align: left;
  background: #ffffff;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
}

.submit-button {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  border-radius: 10px 10px;
  border: 1px solid #070c26;
  background-color: #f2f2f2;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  color: #070c26;
}

.submit-button:hover,
.submit-cancle-button:hover {
  background-color: #070c26;
  color: #f2f2f2;
}

.submit-cancle-button {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  color: #000000;
}

.memberinfo-edit {
  margin-top: 15px;
  font-size: 20px;
}

h5 {
  color: red;
  font-size: 1em;
}
.memberinfo-label {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.memberinfo-edit-input {
  border: 2px solid;
  width: 100%;
  height: 50px;
  margin-bottom: 1rem;
}

.memberinfo-edit-input::placeholder {
  padding-left: 13px;
}

@media (max-width: 991px) {
  .memberinfo-container {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
