.title-signup {
  margin-top: 5%;
  color: #5161ce;
  margin-bottom: 5%;
}
.errormsg {
  color: red;
}
.register {
  background-color: #ffffff;
  border-bottom: 0.4rem solid #5161ce;
  /* padding: 2rem; */
  width: 40%;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.register-lie {
  display: grid;
  grid-template-rows: repeat(2);
  align-items: center;
  row-gap: 0.5rem;
}
.register-label {
  padding-left: 10%;
  font-size: 1.1rem;
  text-align: left;
}
.register-input {
  justify-self: center;
  border: 1px solid;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 80%;
  height: 3rem;
}

.register-input::placeholder {
  padding-left: 0.8rem;
}

.select-register-radio input[type='radio'] {
  display: none;
}
.select-register-radio input[type='radio'] + label {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
  width: 7rem;
  border: 1px solid #5161ce;
  line-height: 2.1rem;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: #fff;
  color: #333;
}

.select-register-radio input[type='radio']:checked + label {
  background-color: #5161ce;
  color: #fff;
}

.register-button {
  width: 80%;
  height: 3rem;
  margin-top: 15px;
  border-radius: 1rem 1rem;
  border: 1px solid #5161ce;
  background-color: #5161ce;
  color: #ffffff;
  margin-bottom: 5%;
}

@media (max-width: 991px) {
  .register {
    width: 80%;
  }
}
