.wrong-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.flip-card {
  position: relative;
  z-index: 1000;
  width: 100px;
  height: 150px;

  .card-front,
  .card-back {
    backface-visibility: hidden;
    transition: 0.4s;
    transform-style: preserve-3d;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .card-front {
    z-index: 900;
  }

  .card-back {
    z-index: 800;
  }

  &:hover {
    .card-front {
      transform: rotateX(180deg);
    }
    .card-back {
      z-index: 950;
      transform: rotateX(360deg);
    }
  }
}

/*** Just for show... ***/

.flip-card {
  font-weight: bold;
  /* margin: 5px; */
  text-align: center;
  text-transform: lowercase;
  min-width: 200px;
  max-width: 400px;

  .card-front,
  .card-back {
    border: 1px solid rgb(189, 189, 189);
    /* border-radius: 15px 15px; */
    /* box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2); */
    padding: 60px 0;
    /* text-align: center; */
  }

  .card-front {
    color: #000000;
    background-color: #ffffff;
  }

  .card-back {
    color: #ffffff;
    background-color: #000000;
  }
}
