@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);
.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
}

.card-element {
  background-color: #ffffff;
  width: 18rem;
  margin: 20px;
  padding: 20px;
  border: 2px solid rgba(182, 180, 180, 0.5);
  border-radius: 10%;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);

  .card-img-top {
    width: 150px;
    height: 150px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    bottom: 50%;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.3);
    /* -webkit-transform: translate(50%, 0%); */
    transform: translate(30%, 0%);
  }
  .card-h2-list {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }
  .card-email-list {
    text-align: center;
  }
  .resultF {
    background-color: rgba(255, 0, 0, 0.89);
    border-radius: 15px 15px;
    color: rgba(255, 0, 0, 0.89);
  }
  .resultP {
    background-color: green;
    border-radius: 15px 15px;

    color: green;
  }

  .score {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin-top: 10px;
  }
}
