@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);

div.cards {
  place-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 5%;
}
.cards-item {
  background-color: white;
  padding: 5%;
  border-radius: 15px 15px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
}

div.card {
  background-color: #ffffff;
  margin: 0px;
  /* min-width: 300px; */
  text-align: left;
  width: 300px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);

  .card-img-top {
    width: 100%;
  }
  .card-h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
  }
}
