/* 모달창을 화면 중앙. 최상단에 노출 */
.quizModal-container {
  /* 모달창 크기 */
  width: 350px;
  height: 320px;
  overflow-y: auto;

  /* 최상단 위치 */
  z-index: 999;

  position: absolute;
  top: 20%;
  left: 75%;
  position: fixed;
}

/* 모달창 내부 X버튼 */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* 플립형식 내용 */
.modal-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.listSize {
  grid-column: 1 / 4;
}

.modal-item {
  position: relative;
  z-index: 1000;
  width: 100px;
  height: 100px;

  .modal-front,
  .modal-back {
    backface-visibility: hidden;
    transition: 0.4s;
    transform-style: preserve-3d;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .modal-front {
    z-index: 900;
  }

  .modal-back {
    z-index: 800;
  }

  &:hover {
    .modal-front {
      transform: rotateX(180deg);
    }
    .modal-back {
      z-index: 950;
      transform: rotateX(360deg);
    }
  }
}

/*** Just for show... ***/

.modal-item {
  font-weight: bold;
  /* margin: 5px; */
  text-align: center;
  font-size: 14px;
  text-transform: lowercase;
  min-width: 100px;
  max-width: 200px;

  .modal-front,
  .modal-back {
    border: 1px solid rgb(189, 189, 189);
    /* border-radius: 15px 15px; */
    /* box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2); */
    padding: 30px 0;
    /* text-align: center; */
  }

  .modal-front {
    color: #000000;
    background-color: #ffffff;
  }

  .modal-back {
    color: #ffffff;
    background-color: #000000;
  }
}
