/* 모달창을 화면 중앙. 최상단에 노출 */
.quizModal-container {
  /* 모달창 크기 */
  width: 25rem;
  height: 30%;
  overflow-y: scroll;
  background-color: #ffffff;
  padding: 1rem;
  /* 최상단 위치 */
  z-index: 999;

  top: 20%;
  left: 75%;
  border-top: 5px double #5161ce;
  border-bottom: 5px double #5161ce;
}

/* 아래의 모든 코드는 영역::코드로 사용 */
.quizModal-container::-webkit-scrollbar {
  width: 1rem; /* 스크롤바의 너비 */
}

.quizModal-container::-webkit-scrollbar-thumb {
  height: 40%; /* 스크롤바의 길이 */
  background: #5161ce; /* 스크롤바의 색상 */

  border-radius: 10px;
}

.quizModal-container::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}

/* 모달창 내부 X버튼 */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* 플립형식 내용 */
.modal-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.listSize {
  grid-column: 1 / 4;
  font-weight: bold;
  font-size: 1.3rem;
}

.modal-item {
  position: relative;
  z-index: 1000;
  width: 100px;
  height: 100px;

  .modal-front,
  .modal-back {
    backface-visibility: hidden;
    transition: 0.4s;
    transform-style: preserve-3d;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .modal-front {
    z-index: 900;
  }

  .modal-back {
    z-index: 800;
  }

  &:hover {
    .modal-front {
      transform: rotateX(180deg);
    }
    .modal-back {
      z-index: 950;
      transform: rotateX(360deg);
    }
  }
}

/*** Just for show... ***/

.modal-item {
  font-weight: bold;
  /* margin: 5px; */
  text-align: center;
  font-size: 14px;
  text-transform: lowercase;
  min-width: 100px;
  max-width: 200px;

  .modal-front,
  .modal-back {
    border: 1px solid rgb(189, 189, 189);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px 15px;
    padding: 30px 0;
  }

  .modal-front {
    color: #000000;
    background-color: #ffffff;
  }

  .modal-back {
    color: #5161ce;
    border: 2px solid #5161ce;
  }
}
