.container {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.app-container {
  display: grid;
  width: 100%;
  place-items: center;
  margin-top: 2rem;
  margin-bottom: 10%;
}

body {
  background-color: #f3f6fd;
}

.article-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  place-items: center;
}

@media (max-width: 991px) {
  .article-container {
    grid-template-columns: 100%;
    row-gap: 3%;
  }
}
